.main__info {
  margin-top: 39px;
  margin-bottom: 108px;
}

.main__title {
  font-family: "Playfair Display", "Arial", serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 7px;
}

.main__subtitle {
  font-size: 20px;
  line-height: 23px;
  color: #787878;
  margin: 0;
}
