.nav-list {
  display: grid;
  grid-template-columns: repeat(7, min-content);
  justify-content: space-between;
  grid-gap: 10px;
  grid-template-rows: auto;
}

.nav-list__item {
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  &_active {
    color: #ff8f27;
  }
}
