.page-body {
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #0a090a;
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
}

.page-body__wrapper {
  max-width: 1140px;
  margin: auto;
}
