.short-info__poster {
  display: block;
  margin-top: -35px;
  margin-bottom: 20px;
}

.short-info__look-btn {
  padding: 10px 44px;
  font-size: 14px;
  line-height: 16px;
  background: #ff8f27;
  color: #ffffff;
  text-decoration: none;
}

.short-info__actors {
  margin-top: 30px;
}

@media (max-width: 575px) {
  .short-info__poster {
    width: 100%;
    height: 100%;
  }

  .short-info__look-btn {
    width: 100%;
    display: block;
    text-align: center;
  }
}
