.short-info__poster {
  display: block;
  margin-top: -35px;
  margin-bottom: 20px;
}

.short-info__look-btn {
  padding: 10px 44px;
  font-size: 14px;
  line-height: 16px;
  background: #ff8f27;
  color: #ffffff;
  text-decoration: none;
}

.short-info__actors {
  margin-top: 30px;
}
