.subscribe {
  position: relative;
  width: 220px;
}

.subscribe__label {
  display: block;
  margin-bottom: 14px;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
}

.subscribe__input {
  width: 100%;
  padding: 12px 16px;
  background: rgba(241, 241, 241, 0.5);
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.subscribe__button {
  position: absolute;
  right: 0;
  width: 43px;
  height: 40px;
  border: 0;
  background: #ff8f27;
  border-radius: 0 5px 5px 0;
  margin: 0;
}

.subscribe__ad {
  margin-top: 48px;
}
