.user-nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.user-nav__bookmark-icon {
  justify-self: end;
  padding: 10px 0;
}

.user-nav__avatar {
  margin-left: 20px;
  justify-self: end;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
