*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder { /* Chrome */
  color: #aeaeae;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #aeaeae;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #aeaeae;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
  color: #aeaeae;
  opacity: 1;
}

@import "blocks/actors";
@import "blocks/content";
@import "blocks/header";
@import "blocks/info";
@import "blocks/large-info";
@import "blocks/main";
@import "blocks/main-info";
@import "blocks/modal";
@import "blocks/nav";
@import "blocks/nav-list";
@import "blocks/page-body";
@import "blocks/search";
@import "blocks/search-button";
@import "blocks/short-info";
@import "blocks/subscribe";
@import "blocks/user-nav";

.hidden {
  display: none;
}
